<div id="social-data">
  <h2>Social Media Data</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Patient Name</th>
      <th>Location</th>
      <th>Blood Type</th>
      <th>Blood Requirement</th>
      <th>Patient Type</th>
      <th>Date of Post</th>
      <th>Emergency</th>
      <th>Phone Number</th>
      <th>Source</th>
      <th>Message Sent</th>
    </tr>
    <tr *ngFor="let row of socialData">
      <td>{{ row.Name }}</td>
      <td>{{ row.Patient_Name }}</td>
      <td>{{ row.Location }}</td>
      <td>{{ row.Blood_Type }}</td>
      <td>{{ row.Blood_Requirement }}</td>
      <td>{{ row.Patient_Type }}</td>
      <td>{{ row.Date_of_Post }}</td>
      <td>{{ row.Emergency  === 1 ? 'Yes' : 'No' }}</td>
      <td>{{ row.Phone_Number }}</td>
      <td>{{ row.Source }}</td>
      <td>{{ row.Message_Sent }}</td>
      <button *ngIf="row.Message_Sent === 0" (click)="sendMessage(row)">Send Message</button>
    </tr>
  </table>
  <br />
  <button type="button" class="button">Send Message</button>
</div>
