<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">Search Blood Camps Near You</div>
    <div
      class="panel-body row"
      style="
        display: flexbox;
        font-size: large;
        vertical-align: top;
        justify-content: space-between;
        padding: 20px;
        line-height: 28px;
      "
    >
      <div
        class="container"
        title="Please select the country that the customer will primarily be served from"
        style="width: 100%; display: flex"
      >
        <label class="state" for="state-select">Select a state:</label>
        <div class="col-sm-3">
          <select
            class="form-select"
            id="state-select"
            #stateSelect
            (change)="onStateSelect(stateSelect.value)"
          >
            <option *ngFor="let state of statesArr" [value]="state.state">
              {{ state.state }}
            </option>
          </select>
        </div>

        <label class="city" for="city-select">Select a city:</label>
        <div class="col-sm-3">
          <select
            class="form-select"
            id="city-select"
            #citySelect
            (change)="onCitySelect(citySelect.value)"
          >
            <option *ngFor="let city of citiesArr" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>
        <div>
          <button
            type="submit"
            class="button"
            value="Submit"
            (click)="submit()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Sl.No.</th>
        <th>Blood Camp Name</th>
        <th>Camp Address</th>
        <th>Contact Number</th>
        <th>State</th>
        <th>Dstrict</th>
        <th>DateOfCamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let camp of camps; index as i">
        <td>{{ camp.id }}</td>
        <td>{{ camp.NameOfCamp }}</td>
        <td>
          {{ camp.Address }}
        </td>
        <td>{{ camp.ContactNumber }}</td>
        <td>{{ camp.State }}</td>
        <td>{{ camp.District }}</td>
        <td>{{ camp.DateOfCamp }}</td>
      </tr>
    </tbody>
  </table>
</div>
