<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">Search Blood Stock</div>
    <div
      class="panel-body row"
      style="
        display: flexbox;
        font-size: large;
        vertical-align: top;
        justify-content: space-between;
        padding: 20px;
        line-height: 28px;
      "
    >
      <div
        class="container"
        title="Please select the country that the customer will primarily be served from"
        style="width: 100%; display: flex"
      >
        <label class="state">State</label>
        <div class="col-sm-3">
          <select
            class="form-select"
            id="specificSizeSelect"
            (change)="changeState($any($event.target).value)"
          >
            <option *ngFor="let count of state_arr">{{ count }}</option>
          </select>
        </div>

        <label class="city">City</label>

        <div class="col-sm-3">
          <select
            class="form-select"
            id="specificSizeSelect"
            placeholder="Anycity"
            (change)="assignCity($any($event.target).value)"
          >
            <option *ngFor="let city of cities">{{ city }}</option>
          </select>
        </div>
        <div>
          <button
            type="submit"
            class="button"
            value="Submit"
            (click)="submit()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <!-- <div>
      <button type="submit" class="button" value="Submit" (click)="submit()">
        Search</button
      ><br /><br />
    </div> -->
  </div>
