<div class="container">
  <div class="panel panel-danger">
    <div class="panel-heading">Search Blood Stock</div>
    <div
      class="panel-body row"
      style="
        display: flexbox;
        font-size: large;
        vertical-align: top;
        justify-content: space-between;
        padding: 20px;
        line-height: 28px;
      "
    >
      <div
        class="container"
        title="Please select the country that the customer will primarily be served from"
        style="width: 100%; display: flex"
      >
        <label class="state" for="state-select">Select a state:</label>
        <div class="col-sm-3">
          <select
            class="form-select"
            id="state-select"
            #stateSelect
            (change)="onStateSelect(stateSelect.value)"
          >
            <option *ngFor="let state of statesArr" [value]="state.state">
              {{ state.state }}
            </option>
          </select>
        </div>

        <label class="city" for="city-select">Select a city:</label>
        <div class="col-sm-3">
          <select
            class="form-select"
            id="city-select"
            #citySelect
            (change)="onCitySelect(citySelect.value)"
          >
            <option *ngFor="let city of citiesArr" [value]="city">
              {{ city }}
            </option>
          </select>
        </div>
        <div>
          <button
            type="submit"
            class="button"
            value="Submit"
            (click)="submit()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>S.No.</th>
          <th>Blood Bank Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Category</th>
          <th>AB_neg</th>
          <th>AB_pos</th>
          <th>A_neg</th>
          <th>A_pos</th>
          <th>B_neg</th>
          <th>B_pos</th>
          <th>O_neg</th>
          <th>O_neg</th>
        </tr>
      </thead>
      <tr *ngFor="let bloodBank of bloodBanks">
        <td>{{ bloodBank["S.No."] }}</td>
        <td>{{ bloodBank["Blood Bank Name"] }}</td>
        <td>{{ bloodBank["Address"] }}</td>
        <td>{{ bloodBank["City"] }}</td>
        <td>{{ bloodBank["State"] }}</td>
        <td>{{ bloodBank["Category"] }}</td>
        <td>{{ bloodBank["AB_neg"] }}</td>
        <td>{{ bloodBank["AB_pos"] }}</td>
        <td>{{ bloodBank["A_neg"] }}</td>
        <td>{{ bloodBank["A_pos"] }}</td>
        <td>{{ bloodBank["B_neg"] }}</td>
        <td>{{ bloodBank["B_pos"] }}</td>
        <td>{{ bloodBank["O_neg"] }}</td>
        <td>{{ bloodBank["O_pos"] }}</td>
      </tr>
    </table>

    <!-- <div style="display: block" *ngIf="chart">
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [chartType]="barChartType"
    >
    </canvas>
  </div> -->
  </div>
</div>
