<div class="logo">
  <i class="fa fa-plane" aria-hidden="true"><span>Landing Page</span></i>
</div>
<a class="menu-toggle rounded" href="#">
  <i class="fa fa-bars" aria-hidden="true"></i>
</a>
<!-- <i class="fas fa-suitcase"></i> -->
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="smooth-scroll" href="#Header"></a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#About">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a class="smooth-scroll" href="#Services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="/login">Login</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="/register">Sign up</a>
    </li>
  </ul>
</nav>
<!-- Header Starts -->

<section id="Banner" class="content-section">
  <div class="container content-wrap text-center">
    <img
      src="https://img.freepik.com/free-vector/human-blood-donate-white-background_1308-111266.jpg?w=996&t=st=1679415045~exp=1679415645~hmac=e8f44c49258c659b3bdf30f9826c999532c19c8e3df5f7535bf62794794109b4"
      alt=""
      class="image_h"
    />
    <h1>Online Blood Bank System</h1>

    <a class="btn btn-primary btn-xl smooth-scroll" href="#About"
      >Find Out More</a
    >
  </div>
  <div class="overlay"></div>
</section>
<!-- Header Ends -->
<!-- About Us Starts -->
<section id="About" class="content-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>About Us</h2>
        </div>
        <p class="lead">
          Blood Tracker enforces Drug & Cosmetic Act, National blood policy
          standards and guidelines ensuring proper collection & donation,
          effective management and monitoring the quality and quantity of the
          donated blood. Considering the national roll out, Blood Tracker has
          been developed with modular and scalable approach with configurable
          rule based architecture allowing customization to easily incorporate
          specific requirements from nationwide stakeholders.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- About Us Starts -->
<section id="Services" class="content-section text-center">
  <div class="container">
    <div class="block-heading">
      <h2>What We Offer</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service-box">
          <div class="service-icon yellow">
            <div class="front-content">
              <i class="fa fa-globe" aria-hidden="true"></i>

              <h3>Learn About Donation</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="/dashboard">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                <!-- <i class="fa-thin fa-suitcase-medical"></i> -->
                <i class="fas fa-suitcase"></i>
                <h3>Blood Banks</h3>
              </div>
            </div>
          </div>
        </a>
        <i class="fas fa-suitcase"></i>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="/registerForm">
          <div class="service-box">
            <div class="service-icon red">
              <div class="front-content">
                <i class="fa fa-male" aria-hidden="true"></i>
                <h3>Enquiry</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="/camps">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <i class="fa fa-users"></i>
                <h3>Camps</h3>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="content-section text-center" id="Portfolio">
  <div class="container">
    <div class="block-heading">
      <h2>Services</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="portfolio-wrapper clearfix">
      <a class="each-portfolio" href="/donationRequest">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="assets/images/p-two.jpg" />
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Donate Blood</h5>
            <p class="p-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" href="/bloodRequest">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="assets/images/p-three.jpg" />
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Blood Request</h5>
            <p class="p-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
      <a class="each-portfolio" href="/campRegistration">
        <div class="content hover-cont-wrap">
          <div class="content-overlay"></div>
          <img class="content-image" src="assets/images/p-four.jpg" />
          <div class="content-details fadeIn-bottom">
            <h5 class="p-title">Blood Camp Registration</h5>
            <p class="p-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <span class="zoom"><i class="fa fa-search-plus"></i></span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<app-social-data></app-social-data>

<footer class="footer text-center">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <!-- <i class="fa fa-facebook" aria-hidden="true"></i> -->
          <i class="fa-brands fa-square-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white mr-3"
          href="javascript:void(0)"
        >
          <!-- <i class="fa fa-twitter" aria-hidden="true"></i>
           -->
          <i class="fa-brands fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          class="social-link rounded-circle text-white"
          href="javascript:void(0)"
        >
          <!-- <i class="fa fa-linkedin" aria-hidden="true"></i> -->
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright © Your Website 2021</p>
  </div>
</footer>
